<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="main">

        <div class="rich-text">
            <h2 class="mt-12">Fund Investor</h2>
        </div>

        <form class="flex flex-col mt-8 p-8 pb-0 bg-card shadow rounded overflow-hidden" [formGroup]="fundinvestorinfoForm">

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>Investor Name</mat-label>
                    <input matInput [formControlName]="'FI_Name'">
                </mat-form-field>
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>Commitment Date</mat-label>
                    <input matInput
                           [formControlName]="'FI_CommitDate'"
                           [(ngModel)]="FI_CommitDate"
                           [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>State</mat-label>
                    <mat-select [formControlName]="'FI_Jur'" [(ngModel)]="FI_Jur" required [(value)]="FI_Jur">
                        <mat-option *ngFor="let dataItem of StatesList" [value]="dataItem.S_ID">
                            {{dataItem.S_Name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>Country</mat-label>
                    <mat-select [formControlName]="'FI_Country'" [(ngModel)]="FI_Country" required [(value)]="FI_Country">
                        <mat-option *ngFor="let dataItem of CountryList" [value]="dataItem.C_ID">
                            {{dataItem.C_Name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>Subscription Amount</mat-label>
                    <input matInput [formControlName]="'FI_SubsAmnt'">
                </mat-form-field>

                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>New / Existing</mat-label>
                    <mat-select [formControlName]="'FI_New'" [(ngModel)]="FI_New" required [(value)]="FI_New">
                        <mat-option *ngFor="let dataItemN of FINewList" [value]="dataItemN.ID">
                            {{dataItemN.FINew}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                class="flex items-center justify-end border-t -mx-8 mt-5 px-8 py-5 light:bg-cool-gray-50 dark:bg-cool-gray-700">
                <button mat-button (click)="openinvestorinfos()" id='BtnCancel'>
                    Cancel
                </button>
                <button mat-button (click)="deleteRecord()" id='BtnDelete' color="warn" >
                    Delete
                </button>   
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'"
                type="button" (click)="updateFundInvestorInfo()" id='BtnSave'>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>