<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
         Add Section
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 110px;">
       <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="row">
                <div class="col-lg-12">
                    Enter Section Name
                </div>
                <div class="col-lg-12">
                    <input id="txt_section"  class="form-control" type="text"/>
                </div>               
            </div>       
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
      <button type="submit" class="btn btn-primary font-weight-bolder font-size-sm mr-1"
      (click)="addSection()"><i class="fa fa-save"></i> Save</button>
    </div>
</div>
