@import 'treo';

tasks-details {
    display: flex;
    flex: 1 1 auto;

    form {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        padding: 48px 32px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        @include treo-breakpoint('xs') {
            padding: 32px;
        }

        .header {
            display: flex;
            align-items: center;
            margin: 0 -12px 0 -16px;

            .mark-as-button {
                padding: 0 16px 0 14px;

                .complete,
                .incomplete {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .mat-icon {
                        margin-right: 8px;
                    }

                    span {
                        display: inline-flex;
                        align-items: center;
                        font-weight: 600;
                    }
                }
            }

            .more-menu {
                margin-left: auto;
            }

            + .mat-divider {
                margin: 24px 0 32px 0;
            }
        }

        .title {

            .mat-form-field {
                width: 100%;

                textarea {
                    margin: 0;
                    padding: 0;
                    line-height: 1.25;
                    overflow: hidden;
                }
            }
        }

        .tags {
            margin-top: 32px;

            .label {
                margin-bottom: 6px;
                font-weight: 500;
            }

            .tag-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                margin: -6px;

                .tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 32px;
                    min-height: 32px;
                    line-height: 1 !important;
                    padding: 0 12px;
                    margin: 6px;
                    border-radius: 4px;

                    .tag-title {
                        font-size: 13px;
                        font-weight: 500;
                        white-space: nowrap;
                    }
                }

                .mat-button {
                    min-height: 32px;
                    max-height: 32px;
                    padding: 0 14px 0 10px;
                    margin: 6px;
                    font-size: 13px;

                    .mat-icon {
                        margin-right: 8px;
                        @include treo-icon-size(16);
                    }
                }
            }
        }

        .priority-and-due-date {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 32px;

            .priority {
                margin-right: 24px;

                .label {
                    margin-bottom: 6px;
                    font-weight: 500;
                }

                .mat-button {
                    min-height: 32px;
                    max-height: 32px;
                    padding: 0 14px 0 10px;
                    font-size: 13px;

                    .mat-icon {
                        margin-right: 8px;
                        @include treo-icon-size(16);
                    }
                }
            }

            .due-date {

                .label {
                    margin-bottom: 6px;
                    font-weight: 500;
                }

                .mat-button {
                    min-height: 32px;
                    max-height: 32px;
                    padding: 0 14px 0 10px;
                    font-size: 13px;

                    .mat-icon {
                        margin-right: 8px;
                        @include treo-icon-size(16);
                    }
                }
            }
        }

        .notes {
            margin-top: 32px;

            .mat-form-field {
                width: 100%;

                textarea {
                    margin: 0;
                    padding: 0;
                    white-space: pre-line;
                    line-height: 1.8;
                    overflow: hidden;
                }
            }
        }

        .selects {

            .mat-form-field {
                width: 100%;
            }
        }
    }
}

.tasks-details-tags-panel {
    min-width: 200px;
    max-width: 200px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid;
    @include treo-elevation('md');

    .tags-panel-header {
        display: flex;
        align-items: center;
        margin: 16px 12px 16px 16px;

        .new-tag {
            display: flex;
            align-items: center;
            min-width: 0;

            .mat-icon {
                @include treo-icon-size(16);
            }

            input {
                min-width: 0;
                padding: 4px 0;
                margin: 0 0 0 8px;
                border: none;
            }
        }

        .toggle-edit-mode {
            margin-left: 12px;
            width: 24px;
            height: 24px;
            min-height: 24px;

            .mat-icon {
                @include treo-icon-size(16);
            }
        }
    }

    .available-tags {
        max-height: 272px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        &:not(:empty) {
            padding: 8px 0;

            &.editing {
                padding: 16px 0;
            }
        }

        .mat-checkbox {
            display: flex;
            align-items: center;
            height: 40px;
            min-height: 40px;

            .mat-checkbox-layout {
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 8px 16px;
                font-weight: 500;

                .mat-checkbox-inner-container {
                    margin: 0 12px 0 0
                }
            }
        }

        .tag-edit {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            .mat-icon-button {
                margin-left: 4px;

                .mat-icon {
                    @include treo-icon-size(20);
                }
            }

            .mat-form-field {
                width: 100%;
                padding: 0 16px;
            }
        }
    }

    .create-tag {
        position: relative;
        display: flex;
        align-items: center;
        padding: 16px 16px 16px 12px;
        cursor: pointer;
        line-height: 1;

        .mat-icon {
            margin-right: 8px;
            @include treo-icon-size(18);
        }

        div {
            width: 100%;
            word-break: break-all;
        }
    }
}

.tasks-details-priority-panel {
    min-width: 200px;
    max-width: 200px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid;
    @include treo-elevation('md');

    .mat-radio-group {
        display: flex;
        flex-direction: column;
        padding: 8px 0;

        .mat-radio-button {
            display: flex;
            align-items: center;
            height: 40px;
            min-height: 40px;

            .mat-radio-label {
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 8px 16px;

                .mat-radio-label-content {
                    display: flex;
                    align-items: center;
                    flex: 1 1 auto;

                    .mat-icon {
                        @include treo-icon-size(18);
                        margin-left: auto;
                    }
                }
            }
        }
    }
}

.tasks-details-due-date-panel {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 320px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid;
    @include treo-elevation('md');

    @include treo-breakpoint('xs') {
        min-width: 280px;
        max-width: 280px;
    }

    > .mat-stroked-button {
        margin: 16px;

        .mat-icon {
            margin-right: 8px;
            @include treo-icon-size(20);
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    tasks-details {

        form {

            .title {

            }

            .tags {

                .tag-wrapper {

                    .tag {
                        @if ($is-dark) {
                            background: treo-color('cool-gray', 800);
                            color: treo-color('cool-gray', 400);
                        } @else {
                            background: treo-color('cool-gray', 100);
                            color: treo-color('cool-gray', 500);
                        }

                        .mat-icon {
                            @if ($is-dark) {
                                color: treo-color('cool-gray', 400);
                            } @else {
                                color: treo-color('cool-gray', 500);
                            }
                        }
                    }

                    .mat-button {

                        @if ($is-dark) {
                            background: treo-color('cool-gray', 800);
                            color: treo-color('cool-gray', 400);
                        } @else {
                            background: treo-color('cool-gray', 100);
                            color: treo-color('cool-gray', 500);
                        }

                        .mat-icon {
                            @if ($is-dark) {
                                color: treo-color('cool-gray', 400);
                            } @else {
                                color: treo-color('cool-gray', 500);
                            }
                        }

                        .mat-button-focus-overlay {
                            @if ($is-dark) {
                                background: rgba(0, 0, 0, 0.08) !important;
                            } @else {
                                background: treo-color('cool-gray', 200) !important;
                            }
                        }
                    }
                }
            }

            .priority {

                .mat-button {

                    &.low {
                        @if ($is-dark) {
                            background: treo-color('blue', 500);
                            color: treo-color('blue', 100);
                        } @else {
                            background: treo-color('blue', 200);
                            color: treo-color('blue', 600);
                        }

                        .mat-icon {
                            @if ($is-dark) {
                                color: treo-color('blue', 100);
                            } @else {
                                color: treo-color('blue', 600);
                            }
                        }

                        .mat-button-focus-overlay {
                            @if ($is-dark) {
                                background: treo-color('blue', 400) !important;
                            } @else {
                                background: treo-color('blue', 300) !important;
                            }
                        }
                    }

                    &.normal {
                        @if ($is-dark) {
                            background: rgba(0, 0, 0, 0.09);
                            color: treo-color('cool-gray', 400);
                        } @else {
                            background: treo-color('cool-gray', 100);
                            color: treo-color('cool-gray', 500);
                        }

                        .mat-icon {
                            @if ($is-dark) {
                                color: treo-color('cool-gray', 400);
                            } @else {
                                color: treo-color('cool-gray', 500);
                            }
                        }

                        .mat-button-focus-overlay {
                            @if ($is-dark) {
                                background: rgba(0, 0, 0, 0.08) !important;
                            } @else {
                                background: treo-color('cool-gray', 200) !important;
                            }
                        }
                    }

                    &.high {
                        @if ($is-dark) {
                            background: treo-color('red', 500);
                            color: treo-color('red', 100);
                        } @else {
                            background: treo-color('red', 200);
                            color: treo-color('red', 600);
                        }

                        .mat-icon {
                            @if ($is-dark) {
                                color: treo-color('red', 100);
                            } @else {
                                color: treo-color('red', 600);
                            }
                        }

                        .mat-button-focus-overlay {
                            @if ($is-dark) {
                                background: treo-color('red', 400) !important;
                            } @else {
                                background: treo-color('red', 300) !important;
                            }
                        }
                    }
                }
            }

            .due-date {

                .mat-button {

                    @if ($is-dark) {
                        background: rgba(0, 0, 0, 0.09);
                        color: treo-color('cool-gray', 400);
                    } @else {
                        background: treo-color('cool-gray', 100);
                        color: treo-color('cool-gray', 500);
                    }

                    .mat-icon {
                        @if ($is-dark) {
                            color: treo-color('cool-gray', 400);
                        } @else {
                            color: treo-color('cool-gray', 500);
                        }
                    }

                    .mat-button-focus-overlay {
                        @if ($is-dark) {
                            background: rgba(0, 0, 0, 0.08) !important;
                        } @else {
                            background: treo-color('cool-gray', 200) !important;
                        }
                    }

                    &.due-set {
                        @if ($is-dark) {
                            background: treo-color('blue', 500);
                            color: treo-color('blue', 100);
                        } @else {
                            background: treo-color('blue', 200);
                            color: treo-color('blue', 600);
                        }

                        .mat-icon {
                            @if ($is-dark) {
                                color: treo-color('blue', 100);
                            } @else {
                                color: treo-color('blue', 600);
                            }
                        }

                        .mat-button-focus-overlay {
                            @if ($is-dark) {
                                background: treo-color('blue', 400) !important;
                            } @else {
                                background: treo-color('blue', 300) !important;
                            }
                        }
                    }

                    &.overdue {
                        @if ($is-dark) {
                            background: treo-color('red', 500);
                            color: treo-color('red', 100);
                        } @else {
                            background: treo-color('red', 200);
                            color: treo-color('red', 600);
                        }

                        .mat-icon {
                            @if ($is-dark) {
                                color: treo-color('red', 100);
                            } @else {
                                color: treo-color('red', 600);
                            }
                        }

                        .mat-button-focus-overlay {
                            @if ($is-dark) {
                                background: treo-color('red', 400) !important;
                            } @else {
                                background: treo-color('red', 300) !important;
                            }
                        }
                    }
                }
            }

            .notes {

            }
        }
    }

    .tasks-details-tags-panel {
        background: map-get($background, card);
        border-color: map-get($foreground, divider);

        .available-tags {
            box-shadow: 0 -1px 0 0 map-get($foreground, divider);

            .mat-checkbox {

                &:hover {
                    background: map-get($background, hover);
                }
            }
        }

        .create-tag {
            background: map-get($background, hover);
        }
    }

    .tasks-details-priority-panel {
        background: map-get($background, card);
        border-color: map-get($foreground, divider);

        .mat-radio-group {

            .mat-radio-button {

                &.low {

                    .mat-icon {
                        color: treo-color('blue', 600);
                    }
                }

                &.normal {

                    .mat-icon {
                        color: map-get($foreground, divider);
                    }
                }

                &.high {

                    .mat-icon {
                        color: treo-color('red', 600);
                    }
                }
            }
        }
    }

    .tasks-details-due-date-panel {
        background: map-get($background, card);
        border-color: map-get($foreground, divider);
    }
}
