<form [formGroup]="taskForm">

    <div class="header">

        <!-- Mark as ... button -->
        <button class="mark-as-button"
                mat-button
                (click)="toggleCompleted()">

            <!-- Mark as complete -->
            <span class="complete"
                  *ngIf="!taskForm.get('completed').value">
                <mat-icon [svgIcon]="'check_box_outline_blank'"></mat-icon>
                <span>MARK AS COMPLETE</span>
            </span>

            <!-- Mark as incomplete -->
            <span class="incomplete"
                  *ngIf="taskForm.get('completed').value">
                <mat-icon [color]="'primary'"
                          [svgIcon]="'check_box'"></mat-icon>
                <span>MARK AS INCOMPLETE</span>
            </span>

        </button>

        <!-- More menu -->
        <button class="more-menu"
                mat-icon-button
                [matMenuTriggerFor]="moreMenu">
            <mat-icon [svgIcon]="'more_vert'"></mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item
                    (click)="deleteTask()">
                <mat-icon [svgIcon]="'delete'"></mat-icon>
                <span>Delete task</span>
            </button>
        </mat-menu>

        <!-- Close button -->
        <button mat-icon-button
                [routerLink]="['../']">
            <mat-icon [svgIcon]="'close'"></mat-icon>
        </button>

    </div>

    <mat-divider></mat-divider>

    <!-- Title -->
    <div class="title">
        <mat-form-field class="treo-mat-textarea treo-mat-no-subscript">
            <mat-label>Task title</mat-label>
            <textarea matInput
                      treoAutogrow
                      [formControlName]="'title'"
                      [spellcheck]="false"
                      #titleField 
                      (change)="saveTask()"></textarea>
        </mat-form-field>
    </div>

    <!-- Tags -->
    <div class="selects">
        <mat-form-field class="selects" >
            <mat-label>Section</mat-label>
            <mat-select [formControlName]="'section'" (selectionChange)="saveTask()" >
                <mat-option value="0" label="Please Select"></mat-option>
                <mat-option *ngFor="let dataItem of TaskSectionsList" [value]="dataItem.TS_ID">
                    {{dataItem.TS_Section}}</mat-option>
              </mat-select>
        </mat-form-field>
    </div>


    <div class="selects">
        <mat-form-field class="selects" >
            <mat-label>Assign To</mat-label>
            <mat-select [formControlName]="'allocated'" (selectionChange)="saveTask()">
                <mat-option value="0" label="Please Select"></mat-option>
                <mat-option *ngFor="let dataItem of UsersList" [value]="dataItem.UserID">
                    {{dataItem.FirstName}}&nbsp;{{dataItem.LastName}}</mat-option>
              </mat-select>
        </mat-form-field>
    </div>


    <!-- Priority and Due date -->
    <div class="priority-and-due-date">

        <!-- Priority -->
        <div class="priority">
            <div class="label">Priority</div>
            <button [ngClass]="{'low': task.priority === 0, 'normal': task.priority === 1, 'high': task.priority === 2}"
                    mat-button
                    (click)="openPriorityPanel()"
                    #priorityPanelOrigin
                    >

                <mat-icon *ngIf="task.priority === 0"
                          [svgIcon]="'arrow_downward'"></mat-icon>
                <mat-icon *ngIf="task.priority === 1"
                          [svgIcon]="'remove'"></mat-icon>
                <mat-icon *ngIf="task.priority === 2"
                          [svgIcon]="'arrow_upward'"></mat-icon>

                <span class="low"
                      *ngIf="task.priority === 0" >
                    Low
                </span>
                <span class="normal"
                      *ngIf="task.priority === 1">
                    Normal
                </span>
                <span class="high"
                      *ngIf="task.priority === 2">
                    High
                </span>

            </button>
        </div>

        <!-- Priority panel -->
        <ng-template #priorityPanel>

            <div class="tasks-details-priority-panel">

                <mat-radio-group [color]="'primary'"
                                 [formControlName]="'priority'"
                                 (change)="closePriorityPanel()" >

                    <mat-radio-button class="low"
                                      [value]="0">
                        <span>Low</span>
                        <mat-icon [svgIcon]="'arrow_downward'"></mat-icon>
                    </mat-radio-button>

                    <mat-radio-button class="normal"
                                      [value]="1">
                        <span>Normal</span>
                        <mat-icon [svgIcon]="'remove'"></mat-icon>
                    </mat-radio-button>

                    <mat-radio-button class="high"
                                      [value]="2">
                        <span>High</span>
                        <mat-icon [svgIcon]="'arrow_upward'"></mat-icon>
                    </mat-radio-button>

                </mat-radio-group>

            </div>

        </ng-template>

        <!-- Due date -->
        <div class="due-date">
            <div class="label">Due date</div>
            <button mat-button
                    [ngClass]="{'overdue': isOverdue(), 'due-set': task.dueDate}"
                    (click)="openDueDatePanel()"
                    #dueDatePanelOrigin>

                <mat-icon [svgIcon]="'today'"></mat-icon>

                <span *ngIf="task.dueDate">{{task.dueDate  | date:'longDate' }}</span>
                <span *ngIf="!task.dueDate">Not set</span>

            </button>
        </div>

        <!-- Due date panel -->
        <ng-template #dueDatePanel>

            <div class="tasks-details-due-date-panel">

                <mat-calendar [selected]="taskForm.get('dueDate').value"
                              [startAt]="taskForm.get('dueDate').value"
                              (selectedChange)="updateDueDate($event)"></mat-calendar>

                <button mat-stroked-button
                        *ngIf="taskForm.get('dueDate').value"
                        (click)="removeDueDate()">
                    <mat-icon [svgIcon]="'remove_circle'"></mat-icon>
                    Remove due date
                </button>

            </div>

        </ng-template>

    </div>

    <!-- Notes -->
    <div class="notes">
        <mat-form-field class="treo-mat-textarea treo-mat-no-subscript">
            <mat-label>Notes</mat-label>
            <textarea matInput
                      treoAutogrow
                      [formControlName]="'notes'"
                      [spellcheck]="false"
                      (change)="saveTask()"></textarea>
        </mat-form-field>
    </div>
    <!-- <div class="saveBtn"  style="margin-top: 30px;">
        <button type="submit" class="btn btn-primary font-weight-bolder font-size-sm mr-1"
        (click)="saveTask()"><i class="fa fa-save"></i> Save</button>
    </div> -->

</form>
