<div class="content-layout fullwidth-basic-normal-scroll"
    style="margin-left: 200px;margin-right: 200px;margin-bottom: 20px;">
    <div class="rich-text">
        <h2 class="mt-12">User Profile</h2>
    </div>
    <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="verticalStepperForm">
        <mat-vertical-stepper [linear]="true" #verticalStepper>
            <mat-step [formGroupName]="'step1'" [stepControl]="verticalStepperForm.get('step1')" #verticalStepperStep1>
                <ng-template matStepLabel>Basic information</ng-template>
                <p class="my-6 font-medium">
                    Fill in your basic information to let us know your preferences
                </p>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="U_FirstName" [formControlName]="'U_FirstName'"
                            [placeholder]="'First Name'">
                        <mat-icon matPrefix [svgIcon]="'account_circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="U_LastName" [formControlName]="'U_LastName'"
                            [placeholder]="'Last Name'">
                        <mat-icon matPrefix [svgIcon]="'account_circle'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Title</mat-label>
                        <input matInput [(ngModel)]="U_Title" [formControlName]="'U_Title'" [placeholder]="'Title'">
                        <mat-icon matPrefix [svgIcon]="'perm_identity'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Phone</mat-label>
                        <input matInput [(ngModel)]="U_Phone" [formControlName]="'U_Phone'" [placeholder]="'Phone'">
                        <mat-icon matPrefix [svgIcon]="'call'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="U_Username" [formControlName]="'U_Username'"
                            [placeholder]="'Username'">
                        <mat-icon matPrefix [svgIcon]="'account_box'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="U_Email" [formControlName]="'U_Email'" [placeholder]="'Email'">
                        <mat-icon matPrefix [svgIcon]="'mail'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex justify-end">
                    <button class="px-8" mat-flat-button [color]="'primary'"
                        [disabled]="verticalStepperStep1.stepControl.pristine || verticalStepperStep1.stepControl.invalid"
                        type="button" matStepperNext (click)="updateUser()" id='BtnStep1'>
                        Save
                    </button>
                </div>
            </mat-step>


            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p class="my-6 font-medium">

                </p>
                <div class="flex justify-end mt-8">

                </div>
            </mat-step>
        </mat-vertical-stepper>
    </form>
    <div class="flex  flex-col flex-auto p-6 pr-3 pb-3 bg-card  rounded border-l-4 shadow-md ">
        <form [formGroup]="myForm" (ngSubmit)="submit($event)">
            <h3 class="mb-5">Profile Image</h3>
            <div class="row">
                <div class="col-md-6">
                    <input type="file" (change)="onFileChange($event)" />
                    <br>
                    <image-cropper [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                        [resizeToWidth]="256" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()"
                        (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()">
                    </image-cropper>
                </div>

                <div class="col-md-6">
                    <h6>Image Preview</h6>
                    <img [src]="cropImgPreview" id="filecropImgPreview" formControlName="filecropImgPreview" style="max-width:100px;">
                    <button class="btn btn-primary" type="submit">Replace profile image with preview</button>
                </div>
            </div>

        </form>
    </div>
</div>