<div class="flex flex-col flex-auto w-full p-8 xs:p-2">

    <div class="flex flex-wrap w-full">

        <div class="col-4 p-4 xs:p-2">
            <div class="breadcrumb">
                <span class="path"><a class="link" [routerLink]="['/dashboard']">Home</a></span>
                <span class="separator">/</span>
                <span class="path"><a class="link" [routerLink]="['/fundsummary']">Funds</a></span>
                <span class="separator">/</span>
                <span class="path">Tasks</span>
            </div>
            <div class="col-12  my-4 xs:pr-0">
                <h1 style="text-align: left;">Tasks</h1>
                <div class="col-12 ">
                    <button class="icon-button-small p-8" (click)="openinvestors()" mat-icon-button
                        matTooltip="Investors" matTooltipPosition="above">
                        <mat-icon [svgIcon]="'heroicons_solid:collection'"></mat-icon>
                    </button>
                    <button class="icon-button-small p-8" (click)="opennotices()" mat-icon-button
                        matTooltip="Filing/Exemption Analysis" matTooltipPosition="above">
                        <mat-icon [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-8 p-4">
            <app-fund-snapshot></app-fund-snapshot>
        </div>
    </div>



    <div class="content-layout right-sidebar-content-standard-normal-scroll">

        <mat-drawer-container (backdropClick)="onBackdropClicked()">

            <!-- Drawer -->
            <mat-drawer [mode]="drawerMode" [opened]="false" [position]="'end'" [disableClose]="true" #matDrawer>

                <router-outlet></router-outlet>

            </mat-drawer>

            <mat-drawer-content>

                <!-- Main -->
                <div class="main">

                    <!-- Header -->
                    <div class="header">

                    </div>

                    <!-- Tasks list -->
                    <div class="tasks-list" cdkDropList [cdkDropListData]="tasks"
                        (cdkDropListDropped)="dropped($event)">

                        <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">

                            <!-- Task -->
                            <div [id]="'task-' + task.id" class="task" *ngFor="let task of tasks; trackBy: trackByFn"
                                [class.completed]="task.completed"
                                [class.selected]="selectedTask && selectedTask.id === task.id"
                                [ngClass]="'type-' + task.type" cdkDrag>

                                <!-- Task content -->
                                <div class="task-content">

                                    <!-- Drag handle -->
                                    <div class="drag-handle" cdkDragHandle>
                                        <mat-icon [svgIcon]="'drag_indicator'"></mat-icon>
                                    </div>

                                    <!-- Complete task button -->
                                    <button class="complete-task" *ngIf="task.type === 'task'"
                                        (click)="toggleCompleted(task)" mat-icon-button>

                                        <mat-icon [color]="'primary'" *ngIf="task.completed" [svgIcon]="'check_box'">
                                        </mat-icon>

                                        <mat-icon *ngIf="!task.completed" [svgIcon]="'check_box_outline_blank'">
                                        </mat-icon>

                                    </button>

                                    <!-- Task link -->
                                    <a [routerLink]="[task.id]">

                                        <div class="title">
                                            <span *ngIf="task.title">{{task.title}}</span>
                                            <span class="placeholder" *ngIf="!task.title && task.type === 'task'">
                                                Task title
                                            </span>
                                            <span class="placeholder" *ngIf="!task.title && task.type === 'section'">
                                                Section title
                                            </span>
                                        </div>

                                        <div class="priority" *ngIf="task.type === 'task'">

                                            <!-- Low -->
                                            <mat-icon class="low" *ngIf="task.priority === 0"
                                                [svgIcon]="'arrow_downward'" [title]="'Low'"></mat-icon>

                                            <!-- High -->
                                            <mat-icon class="high" *ngIf="task.priority === 2"
                                                [svgIcon]="'arrow_upward'" [title]="'High'"></mat-icon>

                                        </div>

                                        <div class="due-date" *ngIf="task.type === 'task'">
                                            {{task.dueDate | date:'LLL dd' }}
                                        </div>

                                    </a>

                                </div>

                            </div>

                        </ng-container>

                        <ng-template #noTasks>
                            <div class="no-tasks">
                                <mat-icon [svgIcon]="'iconsmind:bulleted_list'"></mat-icon>
                                <h4>Add a task to start planning!</h4>
                            </div>
                        </ng-template>

                    </div>

                </div>

            </mat-drawer-content>

        </mat-drawer-container>

    </div>
</div>