<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="main">

        <div class="rich-text">
            <h2 class="mt-12">Filing/Exemption Analysis</h2>
        </div>

        <form class="flex flex-col mt-8 p-8 pb-0 bg-card shadow rounded overflow-hidden" [formGroup]="noticeForm">

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>State</mat-label>
                    <mat-select [formControlName]="'FN_State'" [(ngModel)]="FN_State" required [(value)]="FN_State">
                        <mat-option *ngFor="let dataItemC of StatesList" [value]="dataItemC.S_ID">
                            {{dataItemC.S_Name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>Type of Filing</mat-label>
                    <mat-select [formControlName]="'FN_Type_Filing'" [(ngModel)]="FN_Type_Filing" required
                        [(value)]="FN_Type_Filing">
                        <mat-option *ngFor="let dataItemD of FilingTypeList" [value]="dataItemD.FT_ID">
                            {{dataItemD.FT_Desc}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto">
                    <mat-label>Filing Date</mat-label>
                    <input matInput
                           [formControlName]="'FN_FilingDate'"
                           [(ngModel)]="FN_FilingDate"
                           [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>Exemption</mat-label>
                    <input matInput [formControlName]="'FN_Exemption'">
                </mat-form-field>
            </div>

            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <mat-label>Filing Document</mat-label>
                    <input matInput [formControlName]="'FN_FilingDoc'">
                </mat-form-field>
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>State Document ID</mat-label>
                    <input matInput [formControlName]="'FN_StateCorresDocID'">
                </mat-form-field>
            </div>


            <div class="flex">
                <mat-form-field class="treo-mat-textarea flex-auto">
                    <mat-label>Notes</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" [formControlName]="'FN_Notes'"
                        [spellcheck]="true"></textarea>
                </mat-form-field>
            </div>

            <div
                class="flex items-center justify-end border-t -mx-8 mt-5 px-8 py-5 light:bg-cool-gray-50 dark:bg-cool-gray-700">
                <button mat-button (click)="opennotices()" id='BtnCancel'>
                    Cancel
                </button>
                <button mat-button (click)="deleteRecord()" id='BtnCancel' color="warn">
                    Delete
                </button>  
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'"
                type="button" (click)="updateFundNotice()" id='BtnSave'>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>