<div class="flex flex-col flex-auto w-full p-8 xs:p-2">

  <div class="flex flex-wrap w-full">

    <div class="col-4 p-4 xs:p-2">
      <div class="breadcrumb">
        <span class="path"><a class="link" [routerLink]="['/dashboard']">Home</a></span>
        <span class="separator">/</span>
        <span class="path"><a class="link" [routerLink]="['/fundsummary']">Funds</a></span>
        <span class="separator">/</span>
        <span class="path">Filing Notice/Exemption</span>
      </div>
      <div class="col-12  my-4 xs:pr-0">
        <h1 style="text-align: left;">Notice/Exemption</h1>
        <div class="col-12 ">
          <button class="icon-button-small p-8" (click)="openinvestors()" mat-icon-button matTooltip="Investors"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:collection'"></mat-icon>
          </button>
          <button class="icon-button-small p-8" (click)="opentasks()" mat-icon-button matTooltip="Tasks"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:inbox-in'"></mat-icon>
          </button>
          <button class="icon-button-small p-8" (click)="newNoticeDetails(0)" mat-icon-button matTooltip="Add"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:document-add'"></mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-8 p-4">
      <app-fund-snapshot></app-fund-snapshot>
    </div>
  </div>



  <div class="content-layout fullwidth-standard-normal-scroll">

    <!-- Main -->
    <div class="main">


      <div class="max-w">

        <div class="flex  flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue rounded border-l-4 shadow-md ">

          <ng-container *ngIf="ISError; then error; else noError">
          </ng-container>

          <ng-template #noError>

            <div>
            <label for="investors1">Investors Only
              <input type="checkbox" (change)="applyInvestors($event)" id="investors1" name="investors1" [(ngModel)]="isInvestor"></label>&nbsp;&nbsp;
            <label for="latest1">Latest Only
              <input type="checkbox" (change)="applyLatest($event)" id="latest1" name="latest1" [(ngModel)]="isLatest"></label>
            </div>

            <table class="tbl_fundsummary table-striped " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th class='text-left datatableTH-sm'>State</th>
                  <th class='text-left datatableTH-sm'>Investors</th>
                  <th class='text-left datatableTH-sm'>Type of Filing</th>
                  <th class='text-left datatableTH-sm'>Filing Date</th>
                  <th class='text-left datatableTH-sm'>Exemption</th>
                  <th class='text-left datatableTH-sm'>Filing Doc ID</th>
                  <th class='text-left datatableTH-sm'>State Doc ID</th>
                  <th class='text-left datatableTH-sm'>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataItem of FundInvestorNoticeList let i = index;" id="tr{{i}}"
                  style="background-color:transparent">
                  <td class='datatableTD-sm' (click)="newNoticeDetails(dataItem.FN_ID)"><u>{{dataItem.S_Name}}</u></td>
                  <td class='datatableTD-sm'>{{dataItem.FN_Number}}</td>
                  <td class='datatableTD-sm'>{{dataItem.FT_Desc}}</td>
                  <td class='datatableTD-sm'>{{dataItem.FN_FilingDate | date: 'MM-dd-yyyy' }}</td>
                  <td class='datatableTD-sm'>
                    <div class="datatableTD-sm-overflow">{{dataItem.FN_Exemption}}</div>
                  </td>
                  <td class='datatableTD-sm'>
                    <div class="datatableTD-sm-overflow">{{dataItem.FN_FilingDoc}}</div>
                  </td>
                  <td class='datatableTD-sm'>
                    <div class="datatableTD-sm-overflow">{{dataItem.FN_StateCorresDocID}}</div>
                  </td>
                  <td class='datatableTD-sm'>
                    <div class="datatableTD-sm-overflow">{{dataItem.FN_Notes}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
          <ng-template #error>
            <div>
              Error Found
            </div>
          </ng-template>
          <span style="text-align: center" class="d-none max-w" id="custom-loader"><img src="./assets/images/loader.gif"
              class='max-w-50'></span>
        </div>
      </div>
    </div>
  </div>
</div>