<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      Delete Broker
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 110px;">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <p>Are you sure you want to delete this Broker?</p>
        <p><button class="btn btn-primary" (click)="submit()">Yes</button></p>
      </div>
    </div>
  </div>

</div>