<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
         File Importer
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 110px;">
       <div class="row">
        <div class="col-lg-12 mb-3">
          <form [formGroup]="myForm" (ngSubmit)="submit()">              
            <div class="form-group">
                <label for="file">File</label>
                <input 
                    formControlName="file"
                    id="file" 
                    type="file" 
                    class="form-control"
                    (change)="onFileChange($event)"  style="height: 42px;margin-bottom: 6px;">
                <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                </div>
            </div>
                  
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        </div>
      </div>
    </div>

</div>