// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------

.form-input-border{
    border: 1px solid #8b8b8b;
    padding: 5px;
    border-radius: 5px;
}

button[mat-icon-button]{
    $large-size-button: 80px;
    $large-size-icon: 48px;
    
        &.icon-button-large {
          width: $large-size-button;
          height: $large-size-button;
          line-height: $large-size-button;
        .mat-icon {
          font-size: $large-size-icon;
          width: $large-size-icon;
          height: $large-size-icon;
          line-height: $large-size-icon;
        }
        .mat-button-ripple {
          font-size: inherit;
          width: inherit;
          height: inherit;
          line-height: inherit;
        }
      }
    
      $small-size-button: 24px;
      $small-size-icon: 18px;
    
        &.icon-button-small {
          width: $small-size-button;
          height: $small-size-button;
          line-height: $small-size-button;
        .mat-icon {
          font-size: $small-size-icon;
          width: $small-size-icon;
          height: $small-size-icon;
          line-height: $small-size-icon;
        }
        .mat-button-ripple {
          font-size: inherit;
          width: inherit;
          height: inherit;
          line-height: inherit;
        }
      }
    }

    .d-none {
      display: none !important;
  }

  .table-bordered {
    border: 1px solid #ddd;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          border: 1px solid #ddd;
        }
      }
    }
    > thead > tr {
      > th,
      > td {
        border-bottom-width: 2px;
      }
    }
  }

  .table-striped {
    > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9 !important;;
    }
  }
/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~sweetalert2/src/sweetalert2.scss";
