<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>

<div class="flex flex-col flex-auto w-full p-8 xs:p-2">

  <div class="flex flex-wrap w-full">

    <div class="col-4 p-4 xs:p-2">
      <div class="breadcrumb">
        <span class="path"><a class="link" [routerLink]="['/dashboard']">Home</a></span>
        <span class="separator">/</span>
        <span class="path"><a class="link" [routerLink]="['/fundsummary']">Funds</a></span>
      </div>
      <div class="col-12   my-4 xs:pr-0">
        <h1 style="text-align: left;">Funds</h1>
        <div class="col-12 ">
          <button class="icon-button-small p-8" (click)="open(0)" mat-icon-button matTooltip="Add"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:document-add'"></mat-icon>
          </button>
          <button class="icon-button-small p-8" (click)="toggleShow()" mat-icon-button matTooltip="Advanced Search"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'search'"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="main">

    <div *ngIf="isShown" class="row container-fluid" id="divshow">

      <form class="flex flex-col mt-8 p-8 pb-0 bg-card shadow rounded overflow-hidden" [formGroup]="searchForm">
      <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
        <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Broker</span>
        <mat-select [formControlName]="'sBroker'"  >
          <mat-option *ngFor="let dataItem of FundBrokerListNew" [value]="dataItem.B_ID">
              {{dataItem.B_BrokerName}}</mat-option>
      </mat-select>        

        <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">CIK</span>
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <input matInput [formControlName]="'sCIK'">
        </mat-form-field>

        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" type="button" (click)="searchFunds()"
          id='BtnSearch'>
          Go!
        </button>

      </div>
      </form>

    </div>

    <div class="max-w">

      <div class="flex  flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue rounded border-l-4 shadow-md ">

        <ng-container *ngIf="ISError; then error; else noError">
        </ng-container>

        <ng-template #noError>

          <table class="tbl_fundsummary " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th class='text-left'>Name</th>
                <th class='text-left'>Investors</th>
                <th class='text-left'>Amount</th>
                <th class='text-left'>Investors</th>
                <th class='text-left'>Filing/Exemption</th>
                <th class='text-left'>Tasks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataItem of FundSummaryList; let i = index;" id="tr{{i}}"
                style="background-color:transparent">
                <td><a class="link" (click)="open(dataItem.FM_ID)">{{dataItem.FM_Name}}</a></td>
                <td>{{dataItem.Investors}}</td>
                <td>{{dataItem.Amount | currency:'USD'}}</td>
                <td><button class="icon-button-small" (click)="openinvestors(dataItem.FM_ID)">
                    <mat-icon [svgIcon]="'heroicons_solid:collection'"></mat-icon>
                  </button></td>
                <td><button class="icon-button-small" (click)="opennotices(dataItem.FM_ID)">
                    <mat-icon [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                  </button></td>
                <td><button class="icon-button-small" (click)="opentasks(dataItem.FM_ID)">
                    <mat-icon [svgIcon]="'heroicons_solid:inbox-in'"></mat-icon>
                  </button></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <ng-template #error>
          <div>
            Error Found
          </div>
        </ng-template>
        <span style="text-align: center" class="d-none max-w" id="custom-loader"><img src="./assets/images/loader.gif"
            class='max-w-50'></span>
      </div>
    </div>

  </div>

</div>