<div class="flex flex-col flex-auto w-full p-8 xs:p-2">

    <div class="flex flex-wrap w-full">
        <div class="flex items-center justify-between w-full my-4 px-4 xs:pr-0">
          <div class="mr-6 w-full">
              <h1 class="m-0" style="text-align: center;">Rule 506 Filing Solutions</h1>
              <div class="text-secondary tracking-tight" style="text-align: center;">Form D / Blue Sky Filing Management System</div>
          </div>
        </div>

        <div class="flex flex-wrap w-full my-4 ">
            <!-- Recent Funds -->
            <div class="flex flex-auto w-full ">
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue-900 rounded border-l-4 shadow-md overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-96 opacity-12 text-border-blue-900"
                                  [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Recent Funds</div>
                            <div class="text-blue-900 font-medium text-sm">
                                Funds recently worked on
                            </div>
                        </div>
                    </div>
                

                    <table class="max-w-3xl rich-text">
                        <thead class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t">
                            <tr>
                                    <th>Fund Name</th>
                                    <th>Date last Modified</th>
                                    <th>Investors</th> 
                                    <th>Filing/Exemption</th>
                                    <th>Tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let dataItem of FStop5List">
                                    <td><a class="link" (click)="open(dataItem.FM_ID)">{{dataItem.FM_Name}}</a></td>
                                    <td>{{dataItem.FM_DateFirstSale | date: 'MM-dd-yyyy'}}</td>
                                    <td><button class="icon-button-small" (click)="openinvestors(dataItem.FM_ID)">
                                        <mat-icon [svgIcon]="'heroicons_solid:collection'"></mat-icon>
                                    </button></td>
                                    <td><button class="icon-button-small" (click)="opennotices(dataItem.FM_ID)">
                                        <mat-icon [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                                    </button></td>
                                    <td><button class="icon-button-small" (click)="opentasks(dataItem.FM_ID)">
                                        <mat-icon [svgIcon]="'heroicons_solid:inbox-in'"></mat-icon>
                                    </button></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="flex flex-wrap w-full my-4">

            <!-- Upcoming Deadlines -->
            <div class="flex flex-auto w-full ">
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue-800 rounded border-l-4 shadow-md overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-96 opacity-12 text-blue-800"
                                  [svgIcon]="'heroicons_outline:lightning-bolt'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Upcoming Deadlines</div>
                            <div class="text-blue-800 font-medium text-sm">
                                Next 5 Tasks to be actioned
                            </div>                    
                        </div>
                    </div>
                
                    <table class="max-w-3xl rich-text">
                        <thead class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t">
                            <tr>
                                    <th>Fund</th>
                                    <th>Date</th>
                                    <th>Jurisdiction</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dataItem of Tasktop5Upcoming">
                                <td><a class="link" (click)="opentasks(dataItem.FM_ID)">{{dataItem.FM_Name}}</a></td>
                                <td>{{dataItem.Tsk_Deadline | date: 'MM-dd-yyyy'}}</td>
                                <td>{{dataItem.S_Name}}</td>
                            </tr>
                    </tbody>                 
                    </table>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap w-full my-4">

            <!-- Recent Filing Activities -->
            <div class="flex flex-auto w-full ">
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue-700 rounded border-l-4 shadow-md overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-96 opacity-12 text-blue-700"
                                  [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Recent Filing Activities</div>
                            <div class="text-blue-700 font-medium text-sm">
                                Last 5 Tasks done
                            </div>                    
                        </div>
                    </div>
                
                    <table class="max-w-3xl rich-text">
                        <thead class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t">
                            <tr>
                                    <th>Fund</th>
                                    <th>Date</th>
                                    <th>Jurisdiction</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dataItem of Tasktop5Done">
                                <td><a class="link" (click)="opentasks(dataItem.FM_ID)">{{dataItem.FM_Name}}</a></td>
                                <td>{{dataItem.Tsk_Deadline | date: 'MM-dd-yyyy'}}</td>
                                <td>{{dataItem.S_Name}}</td>
                            </tr>
                    </tbody>               
                    </table>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap w-full my-4">

            <!-- Expiring / Expired Notices -->
            <div class="flex flex-auto w-full ">
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue-600 rounded border-l-4 shadow-md overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-96 opacity-12 text-blue-600"
                                  [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Expiring / Expired Notices</div>
                            <div class="text-blue-600 font-medium text-sm">
                                Last 5 Expired Notices (Including Today)
                            </div>                    
                        </div>
                    </div>
                
                    <table class="max-w-3xl rich-text">
                        <thead class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t">
                            <tr>
                                    <th>Fund</th>
                                    <th>Date</th>
                                    <th>Jurisdiction</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dataItem of Tasktop5Expired">
                                <td><a class="link" (click)="opentasks(dataItem.FM_ID)">{{dataItem.FM_Name}}</a></td>
                                <td>{{dataItem.Tsk_Deadline | date: 'MM-dd-yyyy'}}</td>
                                <td>{{dataItem.S_Name}}</td>
                            </tr>
                    </tbody>                     
                    </table>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap w-full my-4">
        <!-- Activity Feed -->
            <div class="flex flex-auto w-full ">
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue-500 rounded border-l-4 shadow-md overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-96 opacity-12 text-blue-500"
                                  [svgIcon]="'heroicons_outline:inbox-in'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Activity Feed</div>
                        </div>
                    </div>
                

                    <table class="max-w-3xl rich-text">
                        <tbody>
                                <tr *ngFor="let datalogItem of EventLoggerList">
                                    <td><img class="w-10 h-10 mr-4 mt-2 mb-2 ml-2 rounded-full"
                                        src="{{'../../../avatars/avatar_' + datalogItem.EL_User + '.png'}}"></td>
                                    <td>{{datalogItem.EL_Description}}<br>
                                        <div class="text-md leading-none text-secondary mt-2">{{datalogItem.EL_TimeDiff}}</div>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>
