<div class="flex flex-col flex-auto w-full p-8 xs:p-2">

    <div class="flex flex-wrap w-full">

        <div class="col-4 p-4 xs:p-2">
            <div class="breadcrumb">
                <span class="path"><a class="link" [routerLink]="['/dashboard']">Home</a></span>
                <span class="separator">/</span>
                <span class="path"><a class="link" [routerLink]="['/fundsummary']">Funds</a></span>
                <span class="separator">/</span>
                <span class="path">Fund Summary</span>
            </div>
            <div class="col-12  my-4 xs:pr-0">
                <h1 style="text-align: left;">Fund Summary</h1>
                <div class="col-12 ">
                    <button class="icon-button-small p-8" (click)="openinvestors()" mat-icon-button
                        matTooltip="Investors" matTooltipPosition="above">
                        <mat-icon [svgIcon]="'heroicons_solid:collection'"></mat-icon>
                    </button>
                    <button class="icon-button-small p-8" (click)="opennotices()" mat-icon-button
                        matTooltip="Filing/Exemption Analysis" matTooltipPosition="above">
                        <mat-icon [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                    </button>
                    <button class="icon-button-small p-8" (click)="opentasks()" mat-icon-button matTooltip="Tasks"
                        matTooltipPosition="above">
                        <mat-icon [svgIcon]="'heroicons_solid:inbox-in'"></mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-8 p-4">
            <app-fund-snapshot></app-fund-snapshot>
        </div>
    </div>



    <div class="content-layout fullwidth-standard-normal-scroll">

        <ng-container *ngIf="ISError; then error; else noError">
        </ng-container>

        <ng-template #noError>
            <div class="main">
                <div class="max-w-3xl">
                    <!--    <button class="btn btn-primary" type="button" (click)="onLoadDataClick()" class='btn btn-warning mb-3' id='clickid'>Load Data</button> -->
                    <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="verticalStepperForm">
                        <mat-vertical-stepper [linear]="isLinear" #verticalStepper>
                            <mat-step [formGroupName]="'step1'" [stepControl]="verticalStepperForm.get('step1')"
                                #verticalStepperStep1>
                                <ng-template matStepLabel>Basic information</ng-template>
                                <div class="flex">
                                    <mat-form-field class="flex-auto invisible " style=" height: 0; width: 0;">
                                        <input matInput [(ngModel)]="sFM_ID" [formControlName]="'sFM_ID'">
                                        <mat-icon matPrefix [svgIcon]="'people'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Name of Issuer</mat-label>
                                        <input matInput [(ngModel)]="sFM_Name" [formControlName]="'sFM_Name'" required>
                                        <mat-icon matPrefix [svgIcon]="'people'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Previous Name</mat-label>
                                        <input matInput [(ngModel)]="sFM_PreviousName"
                                            [formControlName]="'sFM_PreviousName'">
                                        <mat-icon matPrefix [svgIcon]="'account_circle'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Industry Group</mat-label>
                                        <mat-select [formControlName]="'sFM_Industry_Group'"
                                            [(ngModel)]="sFM_Industry_Group" required>
                                            <mat-option *ngFor="let dataItemIG of IndustryGroupList"
                                                [value]="dataItemIG.IG_ID">
                                                {{dataItemIG.IG_Group}}</mat-option>
                                        </mat-select>
                                        <mat-icon matPrefix [svgIcon]="'business'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Federal Exemption</mat-label>
                                        <mat-select [formControlName]="'sFM_Federal_Exemption'"
                                            [(ngModel)]="sFM_Federal_Exemption" required>
                                            <mat-option *ngFor="let dataItemFE of FederalExclusionList"
                                                [value]="dataItemFE.FE_ID">{{dataItemFE.FE_Description}}</mat-option>
                                        </mat-select>
                                        <mat-icon matPrefix [svgIcon]="'location_city'"></mat-icon>
                                    </mat-form-field>

                                </div>

                                <div class="flex justify-end">
                                    <button class="px-8" mat-flat-button [color]="'primary'"
                                        [disabled]="verticalStepperStep1.stepControl.pristine || verticalStepperStep1.stepControl.invalid"
                                        type="button" matStepperNext (click)="InsertStep1()" id='BtnStep1'>
                                        Save
                                    </button>
                                </div>
                            </mat-step>

                            <mat-step [formGroupName]="'step2'" [stepControl]="verticalStepperForm.get('step2')"
                                #verticalStepperStep2>
                                <ng-template matStepLabel>Pricipal Place of Business</ng-template>
                                <div class="flex">
                                    <mat-form-field class="flex-auto invisible " style=" height: 0; width: 0;">
                                        <input matInput [(ngModel)]="sAdr_ID" [formControlName]="'sAdr_ID'"
                                            [placeholder]="'id'">
                                        <mat-icon matPrefix [svgIcon]="'people'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Street line 1</mat-label>
                                        <input matInput [(ngModel)]="sAdr_Line1" [formControlName]="'sAdr_Line1'">
                                        <mat-icon matPrefix [svgIcon]="'room'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Street line 2</mat-label>
                                        <input matInput [(ngModel)]="sAdr_Line2" [formControlName]="'sAdr_Line2'">
                                        <mat-icon matPrefix [svgIcon]="'place'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>City</mat-label>
                                        <input matInput [(ngModel)]="sAdr_City" [formControlName]="'sAdr_City'">
                                        <mat-icon matPrefix [svgIcon]="'map'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>State</mat-label>
                                        <input matInput [(ngModel)]="sAdr_State" [formControlName]="'sAdr_State'">
                                        <mat-icon matPrefix [svgIcon]="'satellite'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Country</mat-label>
                                        <mat-select [formControlName]="'sAdr_Country'" [(ngModel)]="sAdr_Country"
                                            required>
                                            <mat-option *ngFor="let dataItemCn of CountryList"
                                                [value]="dataItemCn.C_ID">
                                                {{dataItemCn.C_CodeName}}</mat-option>
                                        </mat-select>
                                        <mat-icon matPrefix [svgIcon]="'terrain'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Zip Code</mat-label>
                                        <input matInput [(ngModel)]="sAdr_Zip" [formControlName]="'sAdr_Zip'">
                                        <mat-icon matPrefix [svgIcon]="'money'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Phone</mat-label>
                                        <input matInput [(ngModel)]="sAdr_Phone" [formControlName]="'sAdr_Phone'">
                                        <mat-icon matPrefix [svgIcon]="'phone'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex justify-end">
                                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                        matStepperPrevious>
                                        Back
                                    </button>
                                    <button class="px-8" mat-flat-button [color]="'primary'"
                                        [disabled]="verticalStepperStep2.stepControl.pristine || verticalStepperStep2.stepControl.invalid"
                                        type="button" matStepperNext (click)="InsertStep2()" id='BtnStep2'>
                                        Save
                                    </button>
                                </div>

                            </mat-step>

                            <mat-step [formGroupName]="'step3'" [stepControl]="verticalStepperForm.get('step3')"
                                #verticalStepperStep3>
                                <ng-template matStepLabel>Form D Information</ng-template>
                                <p class="my-6 font-medium">
                                    Address Details
                                </p>
                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Jurisdiction of Inc/Org</mat-label>
                                        <input matInput [(ngModel)]="sFM_JurisOrg" [formControlName]="'sFM_JurisOrg'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Date of Inc/Org</mat-label>
                                        <input matInput [(ngModel)]="sFM_DateOrg" [formControlName]="'sFM_DateOrg'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Entity Type</mat-label>
                                        <mat-select [formControlName]="'sFM_EntityType'" [(ngModel)]="sFM_EntityType"
                                            required [(value)]="sFM_EntityType">
                                            <mat-option *ngFor="let dataItemET of EntityTypeList"
                                                [value]="dataItemET.ET_ID">
                                                {{dataItemET.ET_Desc}}</mat-option>
                                        </mat-select>
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <mat-label>Date of First Sale</mat-label>
                                        <input matInput [formControlName]="'sFM_DateFirstSale'"
                                            [(ngModel)]="sFM_DateFirstSale" [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Currency</mat-label>
                                        <mat-select [formControlName]="'sFM_Currency'" [(ngModel)]="sFM_Currency"
                                            required [(value)]="sFM_Currency">
                                            <mat-option *ngFor="let dataItemC of CurrencyList"
                                                [value]="dataItemC.C_ISO">
                                                {{dataItemC.C_ISO}}</mat-option>
                                        </mat-select>
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>1940 Act Exclusion</mat-label>
                                        <input matInput [(ngModel)]="sFM_1940ActExclusion"
                                            [formControlName]="'sFM_1940ActExclusion'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Minimum Investment</mat-label>
                                        <input matInput [(ngModel)]="sFM_MinInvest" [formControlName]="'sFM_MinInvest'"
                                            [(value)]="sFM_MinInvest">
                                        <mat-icon matPrefix [svgIcon]="'money'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex justify-end">
                                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                        matStepperPrevious>
                                        Back
                                    </button>
                                    <button class="px-8" mat-flat-button [color]="'primary'"
                                        [disabled]="verticalStepperStep3.stepControl.pristine || verticalStepperStep3.stepControl.invalid"
                                        type="button" matStepperNext (click)="InsertStep3()" id='BtnStep3'>
                                        Save
                                    </button>
                                </div>
                            </mat-step>

                            <mat-step [formGroupName]="'step4'" [stepControl]="verticalStepperForm.get('step4')" 
                                #verticalStepperStep4>
                                <ng-template matStepLabel>Internal Information</ng-template>
                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Matter Code</mat-label>
                                        <input matInput [(ngModel)]="sFM_MatterCode"
                                            [formControlName]="'sFM_MatterCode'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Client</mat-label>
                                        <input matInput [(ngModel)]="sFM_Client" [formControlName]="'sFM_Client'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Billing Partner</mat-label>
                                        <input matInput [(ngModel)]="sFM_BillingPartner"
                                            [formControlName]="'sFM_BillingPartner'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Partner Responsible</mat-label>
                                        <input matInput [(ngModel)]="sFM_PartnerResp"
                                            [formControlName]="'sFM_PartnerResp'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Team Members</mat-label>
                                        <input matInput [(ngModel)]="sFM_Team_Members"
                                            [formControlName]="'sFM_Team_Members'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>CIK</mat-label>
                                        <input matInput [(ngModel)]="sFM_CIK" [formControlName]="'sFM_CIK'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>CCC</mat-label>
                                        <input matInput [(ngModel)]="sFM_CCC" [formControlName]="'sFM_CCC'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Pass Phrase</mat-label>
                                        <input matInput [(ngModel)]="sFM_Passphrase"
                                            [formControlName]="'sFM_Passphrase'">
                                        <mat-icon matPrefix [svgIcon]="'money'"></mat-icon>
                                    </mat-form-field>
                                </div>


                                <div class="flex">
                                    <mat-form-field class="flex-auto  ">
                                        <mat-label>Form D Filing</mat-label>
                                        <input matInput [(ngModel)]="sFM_FormDFiling"
                                            [formControlName]="'sFM_FormDFiling'" [placeholder]="'FM_FormDFiling'">
                                        <mat-icon matPrefix [svgIcon]="'label'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex justify-end">
                                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                        matStepperPrevious>
                                        Back
                                    </button>
                                    <button class="px-8" mat-flat-button [color]="'primary'"
                                        [disabled]="verticalStepperStep4.stepControl.pristine || verticalStepperStep4.stepControl.invalid"
                                        type="button" matStepperNext (click)="InsertStep4()" id='BtnStep4'>
                                        Save
                                    </button>
                                </div>
                            </mat-step>

                            <mat-step [formGroupName]="'step5'" [stepControl]="verticalStepperForm.get('step5')"
                                #verticalStepperStep5>
                                <ng-template matStepLabel>Placement Agent Information</ng-template>

                                <table class="table table-bordered table-stripped mt-3" *ngIf="FundBrokerList.length">
                                    <thead>
                                        <tr>
                                            <th>Broker</th>
                                            <th>Country</th>
                                            <th>State</th>
                                            <th>Phone</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dataItem of FundBrokerList">

                                            <td>{{dataItem.sB_BrokerName}}</td>
                                            <td>{{dataItem.sB_BrokerCountry}}</td>
                                            <td>{{dataItem.sB_BrokerState}}</td>
                                            <td>{{dataItem.sB_BrokerPhone}}</td>
                                            <td class='text-center p-1'>
                                                <button class="icon-button-small p-2" mat-icon-button
                                                    (click)="showDeleteModal(dataItem.sFB_ID)" matTooltip="Upload"
                                                    matTooltipPosition="above">
                                                    <mat-icon [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class=" addbrokerdiv">
                                    <select id="FundBrokerInsert" class='form-input-border mr-3 mt-1'
                                        style='height: 40px;'
                                        *ngFor="let dataItem of FundBrokerListNew; let i = index;">
                                        <option value="{{dataItemList.OvalueBroker}}"
                                            [selected]=dataItemList.OselectedBroker
                                            *ngFor="let dataItemList of dataItem.ListBrokers">
                                            {{dataItemList.OdisplayBroker}}</option>
                                    </select>

                                    <button type="button" class="mt-1" mat-flat-button [color]="'primary'"
                                        (click)="InsertStep5()">Add Broker</button>
                                </div>
                                <div class="flex justify-end">
                                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                        matStepperPrevious>
                                        Back
                                    </button>
                                </div>
                            </mat-step>
                            <div class="flex justify-end mt-8">
                                {{sMessage}}
                            </div>
                        </mat-vertical-stepper>
                    </form>

                </div>

            </div>
        </ng-template>
        <ng-template #error>
            <div>
                Error Found - {{AdditionalData.Message}}
            </div>
        </ng-template>
        <span style="text-align: center" class="d-none max-w" id="custom-loader"><img src="./assets/images/loader.gif"
                class='max-w-50'></span>

    </div>