<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>

<div class="flex flex-col flex-auto w-full p-8 xs:p-2">

  <div class="flex flex-wrap w-full">

    <div class="col-4 p-4 xs:p-2">
      <div class="breadcrumb">
        <span class="path"><a class="link" [routerLink]="['/dashboard']">Home</a></span>
        <span class="separator">/</span>
        <span class="path"><a class="link" [routerLink]="['/fundsummary']">Funds</a></span>
        <span class="separator">/</span>
        <span class="path">Investor Information</span>
      </div>
      <div class="col-12   my-4 xs:pr-0">
        <h1 style="text-align: left;">Investor Information</h1>
        <div class="col-12 ">
          <button class="icon-button-small p-8" mat-icon-button (click)="showFileUploadModal()" matTooltip="Upload"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:upload'"></mat-icon>
          </button>
          <button class="icon-button-small p-8" (click)="opennotices()" mat-icon-button
            matTooltip="Filing/Exemption Analysis" matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
          </button>
          <button class="icon-button-small p-8" (click)="opentasks()" mat-icon-button matTooltip="Tasks"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:inbox-in'"></mat-icon>
          </button>
          <button class="icon-button-small p-8" (click)="newFundInvestorInfo(0)" mat-icon-button matTooltip="Add"
            matTooltipPosition="above">
            <mat-icon [svgIcon]="'heroicons_solid:document-add'"></mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-8 p-4">
      <app-fund-snapshot></app-fund-snapshot>
    </div>
  </div>

  <div class="main">

    <div class="max-w">

      <div class="flex  flex-col flex-auto p-6 pr-3 pb-3 bg-card border-blue rounded border-l-4 shadow-md ">

        <ng-container *ngIf="ISError; then error; else noError">
        </ng-container>

        <ng-template #noError>

          <table class="tbl_fundsummary " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th class='text-left'>Investor Name</th>
                <th class='text-left'>Country</th>
                <th class='text-left'>State</th>
                <th class='text-left'>Subscription Amount</th>
                <th class='text-left'>Commitment Date</th>
                <th class='text-left'>New / Existing</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataItem of FundInvestorInfoList; let i = index;" id="tr{{i}}"
                style="background-color:transparent">
                <td class='datatableTD-sm' (click)="newFundInvestorInfo(dataItem.FI_ID)"><u>{{dataItem.FI_Name}}</u>
                </td>
                <td>{{dataItem.C_Name}}</td>
                <td>{{dataItem.S_Name}}</td>
                <td nowrap>$ {{dataItem.FI_SubsAmnt | number:'1.2-2' }}</td>
                <td>{{dataItem.FI_CommitDate | date: 'MM-dd-yyyy'}}</td>
                <td>{{dataItem.sNew}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <ng-template #error>
          <div>
            Error Found
          </div>
        </ng-template>
        <span style="text-align: center" class="d-none max-w" id="custom-loader"><img src="./assets/images/loader.gif"
            class='max-w-50'></span>
      </div>
    </div>

  </div>

</div>