@import 'treo';

auth-forgot-password {

    .content-layout {
        align-items: center;
        justify-content: center;
    }

    margin: 0 auto !important;
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
