<div class="content-layout fullwidth-basic-normal-scroll" style="margin-left: 200px;margin-right: 200px;margin-bottom: 20px;">
  <div class="rich-text">
    <h2 class="mt-12">Add User</h2>
</div>
  <div class="flex flex-col mt-8 p-8 pb-0 bg-card shadow rounded overflow-hidden">
    <div class="flex flex-col gt-xs:flex-row">
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>First name</mat-label>
            <input matInput [(ngModel)]="U_FirstName">
            <mat-icon matSuffix
                      [svgIcon]="'account_circle'"></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Last name</mat-label>
            <input matInput [(ngModel)]="U_LastName">
            <mat-icon matSuffix
                      [svgIcon]="'account_circle'"></mat-icon>
        </mat-form-field>
    </div>
    <div class="flex flex-col gt-md:flex-row">
      <mat-form-field class="flex-auto gt-md:pr-3">
          <mat-label>Tittle</mat-label>
          <input matInput [(ngModel)]="U_Title">
          <mat-icon matSuffix
                    [svgIcon]="'perm_identity'"></mat-icon>
      </mat-form-field>
      <mat-form-field class="flex-auto gt-md:pl-3">
          <mat-label>Phone</mat-label>
          <input matInput  [(ngModel)]="U_Phone">
          <mat-icon matSuffix
                    [svgIcon]="'call'"></mat-icon>
      </mat-form-field>
  </div>

    <div class="flex flex-col gt-md:flex-row">
        <mat-form-field class="flex-auto gt-md:pr-3">
            <mat-label>Username</mat-label>
            <input matInput  [(ngModel)]="U_Username">
            <mat-icon matSuffix
                      [svgIcon]="'account_box'"></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto gt-md:pl-3">
            <mat-label>Password</mat-label>
            <input matInput  [(ngModel)]="U_Password">
            <mat-icon matSuffix
                      [svgIcon]="'lock'"></mat-icon>
        </mat-form-field>
    </div>

    <div class="flex">
        <mat-form-field class="flex-auto">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="U_Email">
            <mat-icon matSuffix
                      [svgIcon]="'mail'"></mat-icon>
        </mat-form-field>
    </div>

    <div class="flex items-center justify-end border-t -mx-8 mt-5 px-8 py-5 light:bg-cool-gray-50 dark:bg-cool-gray-700">
        <button class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'"
                (click)="registerUser()">
            Save
        </button>
    </div>
  </div>


</div>