@import 'treo';

app-fund-summary{
    width:100%;
    .tbl_fundsummary{
        width:100%;
    }

    .fs_title{
        font-size:20px;
    }
}
// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $is-dark: map-get($theme, is-dark);

    example {

    }
}